<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar class="menucolor">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!-- opciones que tiene el menu -->
    <ion-list >
      <!-- Opcion mensajes -->
      <ion-item class="menucolor">
        <ion-icon name="home-outline"></ion-icon>
        <a (click)="ir_home()">Volver al Home</a>
      </ion-item>
      
      <ion-item class="menucolor">
        <ion-icon name="mail-outline"></ion-icon>
        <a >Mensajes</a>
      </ion-item>

      <!-- Opcion Anuncions -->
      <ion-item class="menucolor">
        <ion-icon name="calendar-outline"></ion-icon>
        <a >Eventos</a>
      </ion-item>

       <!-- Opcion Ficha -->
       <ion-item class="menucolor">
        <ion-icon name="people-outline"></ion-icon>
        <a >Ficha Alumno</a>
      </ion-item>

       <!-- Opcion Ver perfil docente -->
       <ion-item class="menucolor">
        <ion-icon name="book-outline"></ion-icon>
        <a >Perfil Docente</a>
      </ion-item>


      <!-- End session -->
       <ion-item class="menucolor">
        <ion-icon name="close-outline"></ion-icon>
        <a >Cerrar Sesion</a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="menucolor">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Mensajes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <!-- Card Bandeja de entrada -->
    <ion-card class="menucolor">
      <ion-card-header>
        <ion-card-title>Mensajes Recibidos</ion-card-title>
        
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item class="registercolor">
            <ion-icon name="mail-open"></ion-icon>
            <ion-label (click)="bandeja_entrada()">Bandeja Entrada</ion-label>
          </ion-item >
          
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card class="menucolor">
      <ion-card-header>
        <ion-card-title>Enviar Mensaje</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          
    
          <ion-item class="registercolor">
            <ion-icon name="mail"></ion-icon>
            <ion-label >Enviar Mensaje</ion-label>
          </ion-item>
    
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>

   
</div>







