<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons (click)="onClick()">
      <ion-button >
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button>
      <ion-title>Mensajes</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="menucolor">
    <ion-card-header>
      <ion-card-title>Mensajes Recibidos</ion-card-title>
      <ion-card-subtitle>Bandeja de Entrada</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card *ngFor="let mensaje of mensajes" class="menucolor">
    <ion-card-header>
      <ion-label>Enviado el :</ion-label>
      {{ mensaje.fecha_envio }}
    </ion-card-header>
    <ion-card-content>
      <ion-item class="inputs">
        <ion-label>Enviado por:</ion-label>
        <ion-label>{{mensaje.nom_emisor}}</ion-label>
      </ion-item>
      <ion-item class="inputs">
        <ion-label>Contenido Mensaje</ion-label>
        <ion-label>{{ mensaje.cont_mensaje }}</ion-label>
      </ion-item>
      <ion-item class="inputs">
        <ion-label>Contenido Mensaje</ion-label>
        <ion-label>{{ mensaje.tipo_mensaje }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
 

  <ion-card class="menucolor">
    <ion-card-header>
      <ion-card-title>Enviar Mensaje</ion-card-title>
      <ion-card-subtitle>Bandeja de Salida</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="toolbar"> 
      <ion-button class="boton_aceptar"(click)="ir_send()">Crear Mensaje Nuevo</ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>
