<ion-header>
  <ion-toolbar>
    <ion-title>
      Enviar Mensaje
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Rut del Docente</ion-label>
    <ion-input [(ngModel)]="rutDocente" type="text"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="buscarDocente(rutDocente)">Buscar Docente</ion-button>
  
  <ion-item *ngIf="docente">
    <ion-label>Rut: {{ docente.rut_participante }}</ion-label>
    <ion-label>Nombre: {{ docente.nombre_participante }}</ion-label>
    <ion-label>Apellido: {{ docente.apellido_participante }}</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Mensaje</ion-label>
    <ion-textarea [(ngModel)]="mensaje"></ion-textarea>
  </ion-item>
  <ion-button expand="full" (click)="enviarMensaje()">Enviar Mensaje</ion-button>
</ion-content>
