<ion-header>
  <ion-toolbar>
    <ion-title>Enviar Mensaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label position="floating">Rut Emisor</ion-label>
      <ion-input [(ngModel)]="mensaje.rut_receptor" name="rut_emisor" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre Emisor</ion-label>
      <ion-input [(ngModel)]="mensaje.nom_receptor" name="nom_receptor" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre Emisor</ion-label>
      <ion-input [(ngModel)]="mensaje.cont_mensaje" name="nom_emcont_mensajeisor" type="text"></ion-input>
    </ion-item>


    <!-- Agregar más campos según tus necesidades -->

    <ion-button expand="full" (click)="enviarMensaje()">Enviar Mensaje</ion-button>
  </ion-list>
</ion-content>


