<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons>
      <ion-button (click)="onClick()">
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button>
      <ion-title>Eventos</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="menucolor">
    <ion-card-header>
      <ion-card-title>Eventos</ion-card-title>
      <ion-card-subtitle>Revisa los próximos</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <!-- Contenido de la página -->
  <ion-card class="ficha" *ngFor="let mensaje of mensajes">
    <ion-card-header>
      <ion-card-title>{{ mensaje.tipo_mensaje }}</ion-card-title>
      <ion-card-subtitle>{{ mensaje.fecha_envio }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Enviado por: {{ mensaje.nom_emisor }}
      <div>
        
        {{ mensaje.cont_mensaje }}
      </div>
      
    </ion-card-content>
  </ion-card>

</ion-content>
