<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons>
      <ion-button (click)="onClick()">
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button>
      <ion-title>Eventos</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="menucolor">
    <ion-card-header>
      <ion-card-title>Eventos </ion-card-title>
      <ion-card-subtitle>Revisa los próximos</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div *ngIf="mensajesFiltrados && mensajesFiltrados.length > 0">
        <h2>Mensajes:</h2>
        <ion-list>
          <ion-item *ngFor="let mensaje of mensajesFiltrados">
            <!-- Mostrar los detalles del mensaje -->
            <ion-label>{{ mensaje.titulo }}</ion-label>
            <p>{{ mensaje.contenido }}</p>
          </ion-item>
        </ion-list>
      </div>
      <div *ngIf="!(mensajesFiltrados && mensajesFiltrados.length > 0)">
        <p>No hay mensajes disponibles.</p>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-datetime displayFormat="YYYY/MM/DD" [(ngModel)]="fechaSeleccionada" (ionChange)="filtrarMensajesPorFecha()" class="toolbar"></ion-datetime>
</ion-content>