*{
    text-align: center;
    color: #37193b;
    font-family: 'Plus Jakarta Sans', sans-serif;

    
}

.card{
    border-radius: 5%;
}

a{
    padding: 5px;
    color: #574345;
    text-shadow: 1px;
    position: relative;
}
a:hover{
    color: orange;
}

ion-item{
    
    background-color: transparent;
    border-radius: 5px;
    border: solid white 1px;
    text-decoration: none;
    padding: 4px;
}

ion-list{
    background-color: transparent;
    border-radius: 5px;
}

ion-icon{
    padding-right: 5px;
  
    
}
