<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>Gestión de Contraseña</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="boton_aceptar">
    <ion-card-header>
      <ion-card-title>Cambia tu Contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Rut user -->
      <label for="rut">RUT:</label>
      <ion-item  class="menucolor">
        <ion-input type="text" id="rut" [(ngModel)]="rutUser" placeholder="Tu Rut sin guion, puntos ni guion"></ion-input>
      </ion-item>
      <!-- Current Password -->
      <label for="password">Contraseña actual:</label>
      <ion-item class="menucolor">
        <ion-input type="password" id="password" [(ngModel)]="passUser" placeholder="Ingrese la contraseña actual"></ion-input>
        <ion-icon name="eye" slot="end" [name]="showPassword ? 'eye-off' : 'eye'" (click)="show_pass()"></ion-icon>
      </ion-item>
      <!-- New password -->
      <label for="newPassword">Nueva Contraseña:</label>
      <ion-item  class="menucolor">
        <ion-input type="password" id="newPassword" [(ngModel)]="newPass" placeholder="Ingrese la nueva contraseña"></ion-input>
        
      </ion-item>
      <!-- Confirmar new password -->
      <label for="confirmPassword">Confirmar Contraseña:</label>
      <ion-item  class="menucolor">
        <ion-input type="password" id="confirmPassword" [(ngModel)]="confirmPass" placeholder="Ingrese nuevamente la nueva contraseña"></ion-input>
        
      </ion-item>
    </ion-card-content>
    <ion-button (click)="actualizarCampo(rutUser, passUser, newPass, confirmPass)">Actualizar</ion-button>
  </ion-card>

  


<!-- Recuperar contraseña mediante correo -->
<ion-card color="medium">
  <ion-card-header>
    <ion-card-title>¿Olvidaste tu contraseña?</ion-card-title>
    <ion-card-subtitle>Recupera tu contraseña con nosotros</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <form (ngSubmit)="enviarCorreoRecuperacion()">
      <!-- Rut del usuario -->
      <ion-item class="menucolor">
        <ion-label position="floating">Rut:</ion-label>
        <ion-input type="text" [(ngModel)]="rutUsuario" name="rutUsuario" placeholder="Escribe tu rut"></ion-input>
      </ion-item>

      <!-- Correo electrónico -->
      <ion-item class="menucolor">
        <ion-label position="floating">Correo electrónico:</ion-label>
        <ion-input type="email" [(ngModel)]="correoElectronico" name="correoElectronico" placeholder="Escribe tu correo a donde llegará"></ion-input>
      </ion-item>

      <!-- Botón de envío -->
      <ion-button type="submit" expand="block">Enviar</ion-button>
    </form>
  </ion-card-content>
</ion-card>

 
    <ion-icon name="home-outline"></ion-icon>
    <a (click)="ir_login()">Volver al Inicio de sesion</a>


</ion-content>

