<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>Gestion de Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="menucolor">
    <ion-card-header>
      <ion-card-title>Cambia tu Contraseña</ion-card-title>
      
    </ion-card-header>
    <ion-card-content>
    <label for="rut">RUT:</label>
    <ion-item>
    <input class="menucolor" type="text" id="rut" [(ngModel)]="rutUser" placeholder="Tu Rut sin guion, puntos ni guion">
    </ion-item>
    <label >Contraseña:</label>
    <ion-item>
    <input type="password" id="password" [(ngModel)]="passUser" placeholder="Ingrese la contraseña">
    </ion-item>
      
    </ion-card-content>
  </ion-card>
  
  <button (click)="actualizarCampo(rutUser, passUser)">Actualizar</button>
  
</ion-content>
