<ion-menu side="start" menuId="menuPrincipal" contentId="main">
  <ion-header>
    <ion-toolbar class="toolbar">
      <ion-title>MENU</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!-- opciones que tiene el menu -->
    <ion-list >
      <!-- Opcion mensajes -->
      <!-- Volver al home -->
      <ion-item class="menucolor">
        <ion-icon name="home-outline"></ion-icon>
        <a (click)="ir_home()">Volver al Home</a>
      </ion-item>
      <!-- Mensajes -->
      <ion-item class="menucolor">
        <ion-icon name="mail-outline"></ion-icon>
        <a  (click)="ir_mensajes()">Mensajes</a>
      </ion-item>

      <!-- Opcion Anuncions -->
      <ion-item class="menucolor">
        <ion-icon name="calendar-outline"></ion-icon>
        <a (click)="ir_eventos()">Eventos</a>
      </ion-item>

       <!-- Opcion Ficha -->
       <ion-item class="menucolor">
        <ion-icon name="people-outline"></ion-icon>
        <a (click)="ir_ficha()">Ficha Alumno</a>
      </ion-item>
      <!-- End session -->
       <ion-item class="menucolor">
        <ion-icon name="close-outline"></ion-icon>
        <a (click)="logout()">Cerrar Sesion</a>
      </ion-item>
    </ion-list>

    <img src="assets/logo3.gif" class="logo" alt="">
  </ion-content>

  
</ion-menu>



