*{
    text-align: center;
    color: #574345;
    font-family: 'Plus Jakarta Sans', sans-serif;

    
}

ion-item{
    
    background-color: transparent;
    border-radius: 5px;
    border: solid white 1px;
    text-decoration: none;
    padding: 4px;
}

ion-list{
    background-color: transparent;
    border-radius: 5px;
}
