<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Rut</ion-label>
        <ion-input [(ngModel)]="rut" type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>
    </ion-list>
  
    <ion-button expand="full" (click)="login()">Iniciar sesión</ion-button>
  </ion-content>
</ion-content>

<ion-footer [translucent]="false">
  <ion-toolbar>
    <ion-title><a>Contáctanos</a></ion-title>
  </ion-toolbar>
</ion-footer>
