<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <img src="assets/logo.png" class="logo" alt="">



  
  
    <form>
      <ion-item lines="full" class="menucolor">
        <ion-label position="floating" >Usuario</ion-label>
        <ion-input  type="number" [clearInput]="true" maxLength="8" required></ion-input>
      </ion-item>
      <ion-item lines="full" class="menucolor">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password"  required></ion-input>
      </ion-item>
    </form>
  

  
  <!-- boton aceptar -->
  <ion-button  class="button" class="boton_aceptar"  expand="block" (click)="IrHome()">Ingresar</ion-button>
  <!-- boton Canelar -->
  <ion-button class="button" color="danger" expand="block">Cancelar</ion-button>
    <!-- link a cambiar pass -->
  <a>¿Olvidaste tu contraseña?</a> 
</ion-content>

<ion-footer [translucent]="false">
  <ion-toolbar>
    <ion-title>¿Aún no tienes cuenta? <a>Conctanos</a></ion-title>
  </ion-toolbar>
</ion-footer>


