

<ion-content [fullscreen]="true">
  <img src="assets/logo3.gif" alt="">
  <ion-content>
    <ion-list >
      <ion-item  class="inputs">
        <ion-label position="floating">Rut</ion-label>
        <ion-input  [(ngModel)]="rut" type="number" placeholder="Sin puntos, sin guion , sin dv"></ion-input>
      </ion-item>
  
      <ion-item class="inputs">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input id="password" [(ngModel)]="password" type="password"></ion-input>
        <ion-icon name="eye" slot="end" [name]="showPassword ? 'eye-off' : 'eye'" (click)="show_pass()"></ion-icon>
      </ion-item>
    </ion-list>
  
    <ion-button  expand="full" (click)="login()">Iniciar sesión</ion-button>
    <ion-button color="danger" expand="full" (click)="cancelar()">Cancelar</ion-button>

    <a  (click)="ir_recuperar()">Cambiar o recuperar contrasena</a>
</ion-content>

<ion-footer [translucent]="false">
  <ion-toolbar>
    <ion-title><a>Contáctanos</a></ion-title>
  </ion-toolbar>
</ion-footer>
