
*{
    text-align: center;
    color: #ff6a00;
    font-family: 'Plus Jakarta Sans', sans-serif;

    
}

img{
    height: 150px;
    width: auto;
    display: block;
    margin: auto;
}

.button{
    margin: 10px;
    color: white;
}


a{
    display: block;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px  #000602 ;
    font-weight: bold;
    text-decoration: none;

}

ion-item{
    margin: 5px;
    padding: 2px;
    box-shadow: 1px 0px 0px 0px black;
    border: solid 1px;
    border-radius: 10px;
    
}


.tittle{
    color: yellow;
    text-shadow: 1px 1px 2px  #000602 ;
    font-weight: 900;
}

.ion-padding{
    padding: 20;
}

.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
}

#pass{
    color: lightblue  ;
    text-shadow: 2px 2px black ;
    
}

