<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
  <h1>Formulario de Registro</h1>
  <ion-img class="img" class="ion-padding" src="../../../assets/images/Mobile-login.svg" alt="register" type="number" ></ion-img>
 
  
  <!-- inputs para completar informacion -->
 <ion-card>
  <ion-item  id="item" class="registercolor">
    <ion-input label="Numero Rut" label-placement="floating" fill="solid" placeholder="18223324" maxlength="8"  ></ion-input>
  </ion-item>
  
  <ion-item  id="item" class="registercolor">
    <ion-input label="Digito Vericador" label-placement="floating" fill="solid" placeholder="K" type="text" maxlength="1"></ion-input>
  </ion-item>

  <ion-item  id="item" class="registercolor">
    <ion-input label=" Nombres" label-placement="floating" fill="solid" placeholder="Javiera Beatriz"  maxlength="50" type="text"></ion-input>
  </ion-item>

  <ion-item  id="item" class="registercolor">
    <ion-input label=" Apellido Paterno" label-placement="floating" fill="solid" placeholder="Poblete " type="text"></ion-input>
  </ion-item>

  <ion-item  id="item" class="registercolor">
    <ion-input label=" Apellido Materno" label-placement="floating" fill="solid" placeholder=" Flores" type="text"></ion-input>
  </ion-item>

  <ion-item  id="item" class="registercolor" >
    <ion-input label=" Direccion" label-placement="floating" fill="solid" placeholder="Calle 123" type="text"></ion-input>
  </ion-item>

  <ion-item  id="item" class="registercolor" >
    <ion-input label=" Email" label-placement="floating" fill="solid" placeholder="ejemplo@gmail.com" type="mail"></ion-input>
  </ion-item>

  <ion-item  id="item" class="registercolor">
    <ion-input label="Telefono" label-placement="floating" fill="solid" placeholder="988440455" maxLength="9" type="numer"></ion-input>
  </ion-item>

 </ion-card>

   <!-- boton aceptar -->
<ion-button  class="button" class="boton_aceptar"  expand="block" >Registrarse</ion-button>
<!-- boton Canelar -->
<ion-button class="button" color="danger" expand="block" >Cancelar</ion-button>

  
</ion-content>




