<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons (click)="onClick()">
      <ion-button >
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button>
      <ion-title> Ficha Alumno</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- carta para realizar la busqueda -->
  <ion-card class="menucolor">
    <ion-card-header>
      <ion-card-title>Busca la ficha por Rut Alumno</ion-card-title>
      <ion-card-subtitle>El rut debe ir sin puntos, sin guion y sin dv</ion-card-subtitle>
    </ion-card-header>
      <ion-item class="inputs">
        <ion-label  position="floating">RUT del Alumno</ion-label>
        <ion-input [(ngModel)]="rutAlumno"></ion-input>
      </ion-item>

      <ion-button class="boton_aceptar" expand="full" (click)="buscarFicha()">Buscar</ion-button>
    <ion-card-content>
     
    </ion-card-content>
  </ion-card>
  <h1>Ficha Estudiante</h1>
  <ion-card class="ficha">
    
    <img alt="Silhouette of mountains" src="assets/boyuser.svg" />
    <ion-card-header>
      <ion-card-title>Nombre: <br> {{ fichas.nom_alu }} {{ fichas.ap_pat_alu }} {{ fichas.ap_mat_alu }}</ion-card-title>
      <ion-card-subtitle>Rut Alumno: {{ fichas.alumno_rut_alu }}</ion-card-subtitle>
      <ion-card-subtitle> Fecha creacion: {{ fichas.fec_cre }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <h3>Curso: {{fichas.nom_cur}}</h3>
      <h1>Observaciones</h1>
      {{ fichas.con_fc }}
    </ion-card-content>
  </ion-card>
  
</ion-content>






