<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons>
      <ion-button (click)="onClick()">
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button>
      <ion-title> Ficha Alumno</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="menucolor">
    <ion-label position="stacked" >RUT del alumno</ion-label>
    <ion-input [(ngModel)]="rutAlumno" type="text"></ion-input>
  </ion-item>

  <ion-button id="btn-buscar" class="boton_aceptar"expand="full" (click)="buscarFicha()">Buscar ficha</ion-button>

  <ion-card class="menucolor">
    <ion-card-header>
      <ion-card-title>Rut Alumno:{{ fichas.alumno_numrun_alu }}</ion-card-title>
      <ion-card-subtitle>Cod Ficha: {{ fichas.id_fch }}</ion-card-subtitle>
      <ion-card-subtitle>Periodo: {{ fichas.per_fch }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card class="colornav">
    <ion-card-content>
      <ion-card-subtitle>Contenido:{{ fichas.des_fch }}</ion-card-subtitle>
    </ion-card-content>
    </ion-card>
</ion-content>




