<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons (click)="onClick()">
      <ion-button>
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button>
      <ion-title>Ficha Alumno</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- carta para realizar la búsqueda -->
  <ion-card class="menucolor">
    <ion-card-header>
      <ion-card-title>Busca la ficha por Rut Alumno</ion-card-title>
      <ion-card-subtitle>El rut debe ir sin puntos, sin guion y sin dv</ion-card-subtitle>
    </ion-card-header>
    <ion-item class="inputs">
      <ion-label position="floating">RUT del Alumno</ion-label>
      <ion-input [(ngModel)]="rutAlumno"></ion-input>
    </ion-item>
    <ion-button class="boton_aceptar" expand="full" (click)="buscarFicha()">Buscar</ion-button>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <!-- MODAL PARA FICHA -->
  <ion-content class="mensaje" class="ion-padding">
    <ion-button id="open-modal" expand="block">Ver Ficha</ion-button>
    <ion-modal [keepContentsMounted]="true" trigger="open-modal" #modal>
      <ng-template>
        <ion-header>
          <ion-toolbar class="toolbar">
            <ion-title>Ficha</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          

          <ion-card *ngIf="fichas" class="inputs">
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-card-header>
                    <ion-card-title>Nombre Alumno:  
                      {{ fichas.nom_alu }} {{ fichas.ap_pat_alu }} {{ fichas.ap_mat_alu }}
                    </ion-card-title>
                    <ion-card-subtitle>Rut:  
                      {{ fichas.alumno_rut_alu }}
                    </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                    <h3>Curso: {{ fichas.nom_cur }}</h3>
                  </ion-card-content>
                  <ion-card-content>
                    <h3>Historial: </h3>
                    {{fichas.observaciones}}
                  </ion-card-content>
                </ion-col>
                <ion-col size="6">
                  <ion-img src="assets/dinosaurio.png"></ion-img>
                </ion-col>

              </ion-row>
            </ion-grid>
          </ion-card>
          <ion-button class="menucolor" (click)="modal.dismiss()">Cerrar</ion-button>
          <div *ngIf="!fichas">
            <p>No se encontraron datos para el alumno ingresado.</p>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</ion-content>
